@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 74.375rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;

}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding-bottom: 3.75rem;
  padding-top: 2.6875rem;
  background-repeat: repeat-x;
  background-image: url(../img/Rectangle.desktop.png);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 7rem;
}

.header__inner {
  width: 100%;
  max-width: 31.8rem;
  margin-right: 0.8rem;
}

.header__logo {
  display: flex;
  width: 2.8125rem;
  height: 3rem;
}

.header__logo__two {
  width: 2.0625rem;
  height: 2.375rem;
}

.header__two {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}


.header__text {
  margin-top: 0;
  margin-bottom: 2rem;
  color: var(--Blue_01, #1F3F68);
  font-family: Roboto;
  font-size: 4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 115.625%;
  letter-spacing: 2.56px;
}

.header__text__two {
  width: 26.5625rem;
  opacity: 0.6;
  margin-top: 0;
  color: var(--Blue_01, #1F3F68);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.8px;
  margin-bottom: 4.4375rem;
}

.header__button {
  display: inline-block;
  text-decoration: none;
  border: 0;
  padding: 0.9375rem 3.125rem;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  cursor: pointer;
  letter-spacing: 0.64px;
  border-radius: 0.625rem;
  background: var(--blue_04, #5A98D0);
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.20);
}

.header__img {
  flex-shrink: 0;
}




.client {
  padding-top: 3.9375rem;
  padding-bottom: 7.0625rem;

}

.client__heading__text {
  color: #000;
  margin-top: 0;
  margin-bottom: 4rem;
  text-align: center;
  font-family: Roboto;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 127.778%;
  letter-spacing: 1.8px;
}


.client__ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.client__li {
  width: 22.4375rem;
  height: 30rem;
  list-style: none;
  padding-top: 2.6875rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3.625rem;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
}

.client__li:not(:last-child) {
  margin-right: 2rem;
}

.client__inner__img {
  display: flex;
  justify-content: center;
  margin-bottom: 2.8125rem;
}

.client__img {
  width: 10.6875rem;
  height: 7.5625rem;

}

.client__inner__text {
  width: 18.125rem;
  margin-bottom: 0.875rem;
  margin-top: 0;
  color: var(--Blue_01, #1F3F68);
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1px;
}

.client__inner__text__two {
  margin-top: 0;
  width: 18.125rem;
  opacity: 0.6;
  color: var(--Blue_01, #1F3F68);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.8px;
}

.client__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--blue_04, #5A98D0);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 214.286%;
  letter-spacing: 0.7px;
}

.client__link::after {
  margin-left: 20px;
  width: 1.375rem;
  height: 1.3125rem;
  display: flex;
  justify-content: center;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/ic_arrow_forward_24px.svg);
}




.project__content {
  margin-bottom: 4rem;
}

.project__text {
  margin-left: auto;
  margin-right: auto;
  width: 71.25rem;
  margin-bottom: 3.5rem;
  margin-top: 0;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: 127.778%;
  /* 127.778% */
  letter-spacing: 1.8px;

}

.project__text__p {
  margin-top: 0;
  width: 100%;
  max-width: 46.875rem;
  margin-left: auto;
  margin-right: auto;
  color: #222;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  /* 162.5% */
  letter-spacing: 0.8px;
}

.project__img__inner {
  padding-bottom: 7rem;

}


.project__text__inner {
  position: relative;
  margin-bottom: 2rem;

}

.project__text__smart {
  position: absolute;
  top: 64px;
  right: 64px;
  margin-top: 0;
  width: 24.875rem;
  color: #FFF;
  text-align: right;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 143.75%;
  /* 143.75% */
  letter-spacing: 1.6px;
}

.project__sparklite__and__app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.project__text__inner__sparklite {
  position: relative;
}

.project__text__sparklite {
  top: 32px;
  left: 32px;
  /* width: 11.4375rem; */
  margin-top: 0;
  position: absolute;
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.286%;
  /* 164.286% */
  letter-spacing: 1.4px;
}

.project__text__inner__app {

  position: relative;
}

.project__text__app {
  left: 32px;
  top: 32px;
  margin-top: 0;
  position: absolute;
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 164.286%;
  /* 164.286% */
  letter-spacing: 1.4px;
}

.footer {
  background-image: url(../img/footer__rectangle.png);
  width: 100%;
}

.footer__content {}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inner__words {
  padding-top: 91px;
  padding-bottom: 96px;
}

.footer__words {
  width: 340.962px;
  margin-bottom: 2rem;
  margin-top: 0;
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  /* 127.778% */
  letter-spacing: 1.8px;
}

.footer__text {
  width: 494.772px;
  height: 80px;
  opacity: 0.6;
  margin-top: 0;
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
}

.footer__link {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.64px;
  text-decoration: none;
  background: #5A98D0;
  padding: 15px 80px;
  width: 236.63px;
  height: 56px;
  flex-shrink: 0;
}

.footer__vector {
  width: 100%;
  stroke-width: 1px;
  stroke: var(--white, #FFF);
  opacity: 0.4;
  padding-bottom: 64px;
}


.footer__content__two {
  display: flex;
  align-items: center;
  padding-bottom: 64px;
}

.footer__inner__two {}


.footer__div {
  display: flex;

}

.footer__div:not(:last-child) {
  margin-right: 2rem;
}

.footer__span {
  margin-right: 19px;
  width: 22.749px;
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
}

.footer__text__two {
  width: 316.977px;
 
  margin-top: 0;
  flex-shrink: 0;
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.8px;
}

.footer__text__reserved {
  width: 309.77px;
  margin-top: 0;
  opacity: 0.4;
  color: var(--white, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  /* 162.5% */
  letter-spacing: 0.8px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .header {

    background-image: url(../img/Rectangle@2x.png);
  }
}

/* HEADER SECTION */
@media only screen and (max-width: 1000px) {
  .header__img {
    flex-shrink: 1;
    margin-top: auto;
    width: 31.25rem;
  }
}

@media only screen and (max-width:770px) {
  .header {
    padding-bottom: 5.43rem;
  }

  .header__img {
    width: 24.5625rem;
    height: 20.818125rem;
    position: absolute;
    right: 1.5rem;
    bottom: 10rem;
  }

  .header__inner {
    position: relative;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width:650px) {
  .header__two {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__img {
    position: static;
  }

  .header__inner {
    margin-right: 0;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .header__text__two {
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width:375px) {
  .header {
    background-image: url(../img/Rectangle.mobile-phone.png);
    padding-top: 1rem;
    padding-bottom: 2.5625rem;
  }

  .header__inner {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .header__two {
    padding-bottom: 0;
  }

  .header__content {
    padding-bottom: 0;
    margin-bottom: 1.8125rem;
  }

  .header__text {
    width: 21.4375rem;
    height: 4.75rem;
    margin-bottom: 0.6875rem;
    color: var(--Blue_01, #1F3F68);
    text-align: center;
    font-family: Roboto;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.28px;

  }

  .header__text__two {
    opacity: 0.6;
    width: 100%;
    max-width: 21.4375rem;
    height: 6rem;
    margin-bottom: 2rem;
    color: var(--Blue_01, #1F3F68);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    letter-spacing: 0.8px;
  }

  .header__button {

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 216.667%;
  }

  .header__img {
    display: none;
  }
}

/* HEADER SECTION */
@media only screen and (max-width:768px) {
  .client__heading__text {
    width: 44rem;
    height: 90px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 127.778%;
    /* 127.778% */
    letter-spacing: 1.8px;
  }

  .client__ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .client__li {
    width: 21rem;
  }

  .client__li:not(:last-child) {
    margin-right: 0;
  }

  .client__li:not(:last-child) {
    margin-bottom: 2rem;
  }

  .client__inner__text {
    width: 17.2638125rem;
    height: 3.288375rem;
    margin-bottom: 0.875rem;
    color: var(--Blue_01, #1F3F68);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
    letter-spacing: 1px;
  }

  .client__inner__text__two {
    width: 17.2638125rem;
    height: 5.7051875rem;
    margin-bottom: 1.625rem;

  }
}

@media only screen and (max-width:375px) {
  .client__heading__text {
    width: 20.6875rem;
    height: 3.4375rem;
    margin-bottom: 2rem;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

/* project */
@media only screen and (max-width:768px) {
  .project__text {
    width: 44rem;
    margin-bottom: 2rem;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 127.778%;
    /* 127.778% */
    letter-spacing: 1.8px;
  }

  .project__text__p {
    width: 32.5rem;
    color: #222;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 162.5%;
    /* 162.5% */
    letter-spacing: 0.8px;
  }

  .project__text__inner {
    width: 44rem;
  }

  .project__text__smart {
    width: 24.875rem;
    height: 7rem;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    /* 143.75% */
    letter-spacing: 1.6px;
  }

  .project__text__inner__sparklite {
    width: 21rem;
    position: relative;
  }

  .project__text__sparklite {
    position: absolute;
    left: 19px;
    top: 19px;
    width: 12.5979375rem;
    height: 27.899px;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 164.286%;
    /* 164.286% */
    letter-spacing: 1.4px;
  }

  .project__text__inner__app {
    width: 21rem;
    position: relative;

  }

  .project__text__app {
    margin-top: 0;
    position: absolute;
    left: 19px;
    top: 19px;
    width: 282.319px;
    height: 27.909px;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    /* 164.286% */
    letter-spacing: 1.4px;

  }

}

@media only screen and (max-width:376px) {
  .client {
    padding-bottom: 64px;
  }

  .project__content {
    margin-bottom: 5.125rem;
  }

  .project__text {
    width: 21.4375rem;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  .project__text__p {
    width: 21.4375rem;
    color: #222;
    margin-bottom: 0;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
  }

  .project__text__inner {
    width: 21.4375rem;
    position: relative;
    margin-bottom: 1rem;
  }

  .project__text__smart {
    position: absolute;
    top: 16px;
    right: 16px;
    flex-shrink: 0;
    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .project__sparklite__and__app {
    display: flex;
    flex-direction: column;
  }

  .project__text__inner__sparklite {
    position: relative;
    width:21.4375rem;
    height: 15.9375rem;
    flex-shrink: 0;
    margin-bottom: 1rem;

  }

  .project__text__sparklite {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 12.5979375rem;
    width: 12.5979375rem;
    height: 17.592px;
    flex-shrink: 0;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .project__text__inner__app {
    position: relative;
    width: 21.4375rem;
    height:16.375rem;
    flex-shrink: 0;

  }

  .project__text__app {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 17.6449375rem;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }


}

/* Footer */
@media only screen and (max-width:768px) {

  .footer__inner {
    display: flex;
    padding-left: 125px;
    justify-content: start;
  }

  .footer__inner__words {
    padding-top: 47px;
    margin-right: 51px;
  }

  .footer__words {
    width: 21rem;
    height: 5.125rem;
    flex-shrink: 0;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    /* 127.778% */
    letter-spacing: 1.8px;
  }

  .footer__text {
    width: 21rem;
    height: 6rem;
    flex-shrink: 0;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
  }

  .footer__link {
    display: inline-block;
    width: 8.3125rem;
    height: 31px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.64px;
    padding: 10px 15px;
  }

  .footer__content__two {
    display: flex;
    flex-direction: column;

  }

  .footer__div:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;

  }

  .footer__span {
    width: 23.133px;
    height: 11.395px;
    margin-right: 36px;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
  }

  .footer__text__two {
    width: 28.4375rem;
   
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
  }

  .footer__text__inner {
    padding-left: 125px;
  }

  .footer__text__reserved {
    width: 13.5rem;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
    opacity: 0.4;
  }
}

@media only screen and (max-width:374px) {

  .footer__inner {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .footer__inner__words {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    margin-right: 0;
    padding-top: 18px;
  }

  .footer__words {
    width: 16.4374375rem;
    display: flex;
    justify-content: center;
    height: 3.1875rem;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__text {
    width: 21.4375rem;
    height: 6.0625rem;
    margin-bottom: 0;
    flex-shrink: 0;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
  }

  .footer__link {
    margin-bottom: 2.5625rem;
  }

  .project__img__inner {
    padding-bottom: 4rem;
  }


  .footer__span {
    width: 1.0625rem;
    height: 1.125rem;
    margin-right: 1.4375rem;

  }

  .footer__text__two {
    width: 19rem;
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-bottom: 0;
  }


  .footer__div:not(:last-child) {
    margin-bottom: 1rem;

  }

  .footer__text__inner{
      display: flex;
      justify-content: center;
      padding: 0;
  }
  .footer__text__reserved {
    width: 21.4375rem;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
    letter-spacing: 0.8px;
  }

  .footer__content__two{
    padding-bottom: 2.3125rem;
  }
  .container{
    padding-left: 0.93px;
    padding-right: 0.93px;
  }
}