@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('/fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 97.875rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5625rem;
  padding-right: 1.5625rem;

}
img{
  max-width: 100%;
  height: auto;
}

.header {
  padding-bottom: 3.75rem;
  padding-top: 2.6875rem;
  background-repeat: repeat-x;
  background-image: url(../img/header-backgroung-img.png);
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 7rem;
}

.header__logo {
  display: flex;
  width: 2.8125rem;
  height: 3rem;
}

.header__logo__two {
  width: 2.0625rem;
  height: 2.375rem;
}

.header__two {
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.header__inner {
  width: 100%;
  max-width: 31.8rem;
}

.header__text {
  margin-top: 0;
  margin-bottom: 2rem;
  color: var(--Blue_01, #1F3F68);
  font-family: Roboto;
  font-size: 4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 115.625%;
  letter-spacing: 2.56px;
}

.header__text__two {
  width: 26.5625rem;
  margin-top: 0;
  color: var(--Blue_01, #1F3F68);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.8px;
  margin-bottom: 4.4375rem;
}

.header__button {
  display: inline-block;
  text-decoration: none;
  border: 0;
  padding: 0.9375rem 3.125rem;
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  cursor: pointer;
  letter-spacing: 0.64px;
  border-radius: 0.625rem ;
  background: var(--blue_04, #5A98D0);
  box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.20);
}

.header__img {
  flex-shrink: 0;
}

@media only screen and (max-width: 1000px ){
  .header__img{
    flex-shrink: 1;
    margin-top: auto;
  }
}
.header__inner{
  max-width: 100%;
}
@media only screen and (max-width:770px){
  .header__img{
    width: 336px;
    height: 292px;
    position: absolute;
    right: 1.5rem;
    bottom: 10rem;
  }
  .header__inner{
    position: relative;
    padding-bottom: 4rem;
  }
}



.client {
  padding-top: 63px;
  padding-bottom: 113px;

}

.client__heading__text {
  color: #000;
  margin-top: 0;
  margin-bottom: 64px;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 300;
line-height: 46px; /* 127.778% */
letter-spacing: 1.8px;
}
.client__nav {

}
.client__ul {
  
  margin: 0;
  padding: 0;
}
.client__li {
  list-style: none;
  padding-top: 43px;
  padding-left: 32px;
  padding-right: 58px;
  padding-bottom: 44px;
  width: 359px;
  height: 480px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.20);
}
.client__inner__img{
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
}
.client__img {
  width: 171px;
  height: 121px;

}

.client__inner__text {
  width: 283px;
  margin-bottom: 14px;
  margin-top: 0;
  color: var(--Blue_01, #1F3F68);
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
letter-spacing: 1px;
}
.client__inner__text__two {
  margin-top: 0;
  color: var(--Blue_01, #1F3F68);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.8px;
}
.client__link {
  display: flex;
  text-decoration: none;
  color: var(--blue_04, #5A98D0);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 214.286%; 
letter-spacing: 0.7px;
}
.client__link::before{
content: "";
background-repeat: no-repeat;
background-image: url(../img/client-logo.svg);
}